<?xml version="1.0" encoding="UTF-8"?>
 <!--   scan:
        当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。
        scanPeriod:
        设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
        debug:
        当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。
        -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <property name="APP_LOGGING_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{64}\\(%F:%L\\): %msg%n"/>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="APP_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APP_LOGGING_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="baselog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/base.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/base.log.%d.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 64 MB -->
                <maxFileSize>64MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${APP_LOGGING_PATTERN}
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="baselog" />
        <appender-ref ref="APP_STDOUT"/>
    </root>

    <logger name="dao" level="DEBUG">
        <!--daoFILE为实际定义的appender-->
        <!--<appender-ref ref="baselog" />-->
    </logger>

    <logger name="org.apache.ibatis" level="INFO">
        <appender-ref ref="baselog"/>
        <appender-ref ref="APP_STDOUT"/>
    </logger>
    <!--<logger name="java.sql" level="INFO">-->
        <!--<appender-ref ref="APP_STDOUT"/>-->
    <!--</logger>-->

    <!--<logger name="com.github.pagehelper" level="INFO">-->
        <!--<appender-ref ref="baselog" />-->
        <!--<appender-ref ref="APP_STDOUT"/>-->
    <!--</logger>-->

</configuration>
